* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

h1 {
    -webkit-text-stroke: 0.5px white;
    font-size: 50px;
}

h2 {
    text-align: center;
}

a:link, a:visited {
    color: black;
    text-decoration: none;
    cursor:pointer;
}  

a:hover {
    color: rgb(99, 99, 99); 
}

body {
    background-image: url("../img/misc/sea.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #cccccc;
    backdrop-filter: blur(3px);
}

#grid_wrapper_main {
    display: grid;
    height: 100vh;
    grid-template-columns: minmax(200px, 600px) minmax(200px, 600px);
    grid-template-areas:
    "he he"
    "h1 h2"
    "b1 b2";
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    gap: 30px 20px;
    font-size: 23px;
}

#grid_wrapper_om
{
   grid-template-columns: minmax(200px, 600px) minmax(200px, 600px);
   display: grid;
   height: 100vh;
   grid-template-areas:
   "he he"
   "a1 a2"
   "b1 b2";
   justify-content: center;
   align-items: center;
   justify-items: center;
   align-content: center;
   gap: 30px 20px;
   font-size: 20px;


}

#grid_wrapper_restaurang
{
    display: grid;
    height: 100vh;
    grid-template-areas: 
    "he he he" 
    "a1 a2 a3"
    "b1 b2 b3";
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    gap: 30px 20px;

}

header {
    grid-area: he;
    font-size: 30px;
}

#valkommen
{
    grid-area: h1;
    display: flex;
    flex-direction: column;
    justify-self: center;
}

#om_oss {
    grid-area: b1;
    display: flex;
    flex-direction: column;
    
}

#om_oss_i
{
    display: flex;
    flex-direction: row;
    gap: 30px 20px;

}

#restaurang {
    grid-area:b2;
    display: flex;
    flex-direction: column;
}   

#restaurang_i {
    display: flex;
    flex-direction: row;
    gap: 30px 20px;
    

}   

#delfin {
    grid-area: h2;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: auto;
    border-radius: 5px 10px 5px 10px;
}

#logo {
    height: 350px;
    width: auto;
    border-radius: 20px;
}

.image_index {
    height: 300px;
    width: auto;
    border-radius: 5px 10px 5px 10px;
}

.png {
    height: 300px;
    width: auto;
}

.food {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 400px;
    border: 5px solid black;
}

#a1 {
    grid-area: a1;
    background-image: url("../img/food/salad.jpg"); /* fallback */
    background-size: cover;
    background-position: center;

}

#a2 {
    grid-area: a2;
    background-image: url("../img/food/salad_2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#a3 {
    grid-area: a3;
    background-image: url("../img/food/egg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#b1 {
    grid-area: b1;
    background-image: url("../img/food/thai.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#b2 {
    grid-area: b2;
    background-image: url("../img/food/grot.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#b3 {
    grid-area: b3;
    background-image: url("../img/food/kyck.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#restaurang_article {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

#om_oss_article {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.food_item {
    background-color: rgba(255, 255, 255, 0.9);
}

#socialisera {
    grid-area: a2;
}

#om_oss_h {
    grid-area: he;
}

